<div class="sidemenu">
    <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a>
    <a href="/find" class="<%= currentPage === 'find' ? 'active' : '' %>">Find a dog/cat</a>
    <a href="/dogCare" class="<%= currentPage === 'dogCare' ? 'active' : '' %>">Dog Care</a>
    <a href="/catCare" class="<%= currentPage === 'catCare' ? 'active' : '' %>">Cat Care</a>
    <a href="/giveAway" class="<%= currentPage === 'giveAway' ? 'active' : '' %>">Have a pet to give away</a>
    <a href="/createAccount" class="<%= currentPage === 'createAccount' ? 'active' : '' %>">Create an Account</a>
    <a href="/contact" class="<%= currentPage === 'contact' ? 'active' : '' %>">Contact Us</a>
    <a href="/logout" class="<%= currentPage === 'logout' ? 'active' : '' %>">Logout</a>
</div>